    .Purchase {
    text-align: center;
    margin: 20px;
  }
  
  .summary {
    margin-top: 20px;
  }
  
  .purchase-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: rgb(35, 82, 158);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 1em;
    transition: 0.5s;
  }

  .purchase-button:hover {
    background-color: grey;
  }