.seat {
    width: 30px;
    height: 30px;
    margin: 5px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .available {
    background-color: limegreen;
  }
  
  .selected {
    background-color: #6c7ae0;
  }
  
  .booked {
    background-color: red;
    cursor: not-allowed;
  }
  