/* .seat {
    width: 30px;
    height: 30px;
    margin: 5px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: 0.5s;
  }

  .available:hover {
    background-color: grey;
  }
  
  .available {
    background-color: limegreen;
  }
  
  .selected {
    background-color: #6c7ae0;
  }
  
  .booked {
    background-color: red;
    cursor: not-allowed;
  }

  @media (max-width: 600px) {
    .seat {
        width: 20px;
        height: 20px;
        margin: 3px;
        line-height: 20px;
    }
}

 Media query for very small screens
@media (max-width: 400px) {
    .seat {
        width: 15px;
        height: 15px;
        margin: 2px;
        line-height: 15px;
    }
}
*/